<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- Json 포맷 설정 연도-월-일 시:분:초 [쓰레드명, traceID, ClientIP] [레벨] [파일명]메소드명(라인번호) - 로그내용 -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}{GMT+9} [%thread{10}, %X{traceId}, %X{clientIP}] [%-5p\] [%c{1.}]%M\(%L\) - %msg%n"/>
            <!-- <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}{GMT+9} [%-5p\] [%F]%M\(%L\) - %msg%n"/> -->
        </Console>

        <!-- AsyncLogger 설정
        includeLocation: 기본값 false | Method Name 및 Line Number 등 위치 정보를 출력하게 해주는 옵션 | 사용하게 될 경우 속도가 5 ~ 20배 정도 느려집니다.
        bufferSize: 기본값은 1024
        blocking: 기본값은 true | 로그 발생시 Queue에 넣을 공간이 없으면 빈 공간이 생길 때 까지 블락킹 상태로 기다리며, 로그를 유실하지 않습니다.
                      false면 로그 발생시 Queue가 꽉 찼다면 로그를 유실하고, Error Appender에 이벤트를 기록
        append: true(기본값)면 로그 출력이 기존 파일에 추가되며, false면 기존 파일의 내용이 모두 삭제되고 출력이 쌓임-->
        <Async name="ASYNC-CONSOLE" bufferSize="2048" includeLocation="false" blocking="false">
            <AppenderRef ref="Console"/>
        </Async>
    </Appenders>
    <Loggers>
        <!-- SSL 핸드셰이크 로그 줄이기 -->
        <AsyncLogger name="javax" level="INFO"/>
        <AsyncLogger name="jdk" level="INFO"/>

        <!-- Tomcat 관련 로그 줄이기 -->
        <AsyncLogger name="org.apache.catalina" level="INFO"/>
        <AsyncLogger name="org.apache.coyote" level="INFO"/>
        <AsyncLogger name="org.apache.tomcat" level="INFO"/>

        <!-- 불필요한 디버깅 로그 조정 -->
        <AsyncLogger name="com.zaxxer.hikari" level="WARN" />
        <AsyncLogger name="org.postgresql" level="WARN" />
        <AsyncLogger name="javax.sql" level="WARN" />
        <AsyncLogger name="jakarta.sql" level="WARN" />
        <AsyncLogger name="j.e.security" level="WARN" />

        <!-- Hibernate 로그 레벨 조정 -->
        <AsyncLogger name="org.hibernate" level="WARN" />
        <AsyncLogger name="org.hibernate.SQL" level="INFO" />
        <AsyncLogger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="ERROR" />
        <AsyncLogger name="org.hibernate.loader.entity.plan.AbstractLoadPlanBasedEntityLoader" level="ERROR" />
        <AsyncLogger name="org.hibernate.orm.connections.pooling" level="ERROR" />

        <!-- Spring 로그 조정 -->
        <AsyncLogger name="org.springframework" level="WARN" />

        <!-- 기타 noisy 로그 패키지 조정 -->
        <AsyncLogger name="org.hibernate.type.descriptor.sql.BasicBinder" level="WARN" />
        <AsyncLogger name="org.apache.poi.util" level="ERROR" />
        <AsyncLogger name="org.apache.xmlbeans.impl.common" level="ERROR" />

        <!-- 루트 로거 설정 -->
        <AsyncRoot level="debug">
            <appender-ref ref="ASYNC-CONSOLE" />
        </AsyncRoot>
    </Loggers>
</Configuration>